@model IEnumerable<NewProject.Models.Book>

<h2>Book List</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <p class="text-danger">No books found in this category!</p>
}

<a href="/Book/List">Show All Books</a>

