<h2>Registration</h2>
<form method="post">
    Name: <input type="text" name="Name" placeholder="Name" class="form-control" /><br />
    Email: <input type="email" name="Email" placeholder="Password" class="form-control" /><br />
    Password: <input type="password" name="Pass" placeholder="Password" class="form-control" /><br />
    <button type="submit">Register</button>
</form>
<br />
<a href="/Registration/Login">Back to Login</a>

